<div class="navigation">
  <div id="logo">
    <h1>ToDoDaily</h1>
  </div>

  <div id="all_days">
    <a href="<%= dashboard_url %>">Back to TODOs</a>
  </div>
</div>

<div class="header">
  <h1>Completed TODOs by days</h1>
</div>

<% @days.each do |day| %>
    <div class="previous-day">
      <a href="<%= single_day_url(day.strftime('%d-%m-%Y')) %>"><%= day.strftime('%d-%m-%Y') %></a>
    </div>
<% end %>
