<h1>Dashboard</h1>
<div>

  <form id="add_task_form" action="/tasks" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" name="title" placeholder="Add task..." onkeypress="onAddFormPress"/>
  </form>

  <ul>
    <% @tasks.each do |task| %>
        <li class="<%= 'completed' if task.completed %>">
          <%= link_to task.title, complete_task_url(task.id), method: :post %>
        </li>
    <% end %>
  </ul>

</div>